section{
  color: #fff;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
  background-color: #1f1f1f;
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

/* Estilos de Navbar*/
.navbg{
  background-color: #007bff;
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
    color: white !important;
    font-size: 18px;
    font-family: "Faculty Glyphic", sans-serif;
    
}

/* Cambiar el color del texto al pasar el mouse */
.navbar-dark .nav-link:hover {
    color: #0C6291 !important;
}

.container{
  padding: 12px;
  text-align: center;
}


/* footer */

.site-footer {
  background-color: #007bff;
  color: #fff;
  padding: 14px;
  text-align: center;
  font-size: 14px;
  font-family: "Faculty Glyphic", sans-serif;
  text-align: left;
}

.footer-info, .footer-links, .footer-social {
  margin-bottom: 15px;
}

.footer-links a, .footer-social a {
  color: #fff;
  margin: 0 8px;
  text-decoration: none;
  font-size: 30px; 
}

.footer-links a:hover, .footer-social a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 12px;
}

/* estilo Card product*/

h1{
  margin: 50px;
  padding: 10px;
  font-size: 18px;
}

.card{
  width: 300px;
  padding: 20px;
  margin: 20px;
  display: flex;
  border-radius: 5px; 
}
/* Contacto */
.contact{

  margin: 10px;
  padding-top: 5px;
}

.contact .form-group {
  margin-bottom: 100px;
}

.button {

margin-top: 20px;
margin-bottom: 50px;
}

